* {
  box-sizing: border-box;
}

#container2 {
  background-image: url("../img/background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
}

form {
  flex-direction: column;
  display: inline-grid;
  width: 30em;
  height: 38em;
  border-radius: 10px;

  text-align: left;

  background-color: #b1ddd9;
  opacity: 0.9;
  padding: 25px;
  margin-bottom: 30px;
}

.information2 {
  font: bolder;
  font-size: 30px;
  text-align: center;
  color: #006978;
}

.save2 {
  width: 13em;
  margin-left: 9.5em;

  border-radius: 25px;

  background-color: #006064;
  color: white;
  font: bolder;
  font-size: medium;
  border: 1px;
  cursor: pointer;
  width: 130px;
  height: 45px;
}

.save2:hover {
  background-color: #008ba3;
}

label {
  color: #006978;
  font-size: 18px;
  padding: 20px;
}

.userName2 {
  margin-left: 85px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  letter-spacing: 2px;
  padding-left: 10px;
  background-color: #e4ffff;
  border: none;
}

.email2 {
  margin-left: 70px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  letter-spacing: 2px;
  padding-left: 10px;
  background-color: #e4ffff;
  border: none;
}

.checkPassword2 {
  margin-left: 20px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  letter-spacing: 2px;
  padding-left: 10px;
  background-color: #e4ffff;
  border: none;
}

.password2 {
  margin-left: 55px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  letter-spacing: 2px;
  padding-left: 10px;
  background-color: #e4ffff;
  border: none;
}

#footer1 {
  display: flex;
  align-items: center;
  background-color: #a8a8a8;
  padding: 0 200px;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-bottom: -250px;
  margin-top: 30px;
  z-index: 1;
}

.logo1 {
  height: 80px;
  align-items: center;
  flex-wrap: nowrap;
  margin: 30px 10px 20px 20px;
  padding-right: 40px;
  border-right: 1px solid gray;
}

.logo2 {
  height: 30px;
  padding-right: 20px;
  flex-wrap: nowrap;
  /* margin-left: 65em; */
}

.names1 {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.span1 {
  border-left: 1px solid white;
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 768px) {
  #footer1 {
    display: none;
  }

  form {
    justify-content: center;
    width: 25em;
    height: 28em;
    margin-top: 3em;
    position: absolute;
  }

  .information2 {
    font-size: 25px;
  }

  #userName2 {
    font-size: 16px;
    padding: 8px;
  }

  .userName2 {
    margin-left: 50px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding-left: 10px;
    background-color: #e4ffff;
    border: none;
  }

  #email2 {
    font-size: 16px;
    padding: 8px;
  }

  .email2 {
    margin-left: 40px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding-left: 10px;
    background-color: #e4ffff;
    border: none;
  }

  #checkPassword2 {
    font-size: 16px;
    padding: 8px;
  }

  .checkPassword2 {
    margin-left: 10px;
    width: 235px;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding-left: 10px;
    background-color: #e4ffff;
    border: none;
  }

  #password2 {
    font-size: 16px;
    padding: 8px;
  }

  .password2 {
    margin-left: 26px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    letter-spacing: 2px;
    padding-left: 10px;
    background-color: #e4ffff;
    border: none;
  }

  .save2 {
    width: 13em;
    margin-left: 7em;
    /* background-color: #00bcd4; */
    border-radius: 25px;
    /* background-color: #5c007a; */
    background-color: #006064;
    color: white;
    font: bolder;
    font-size: medium;
    border: 1px;
    cursor: pointer;
    width: 130px;
    height: 45px;
  }
}
