.container {
  height: 15vh;
  min-height: 60px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  z-index: 1;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  height: 100px;
  width: 100px;
  flex-wrap: nowrap;
  cursor: pointer;
}

.right__menu {
  display: flex;
  align-items: center;
}

.right__menu > p {
  margin-right: 10px;
  font-weight: 600;
  flex-wrap: nowrap;
  color: gray;
  cursor: pointer;
}
