.signinMain {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    /* background-image: url("../../src/img/background.png"); */
    background-image: url("../../../src/img/background.png");
}

.Signinwrap {
    width: 465px;
    height: 500px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
        2px 10px 23px 0 rgb(96 96 96 / 13%); */
}

.tab-header {
    width: 99%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* background: #f7f7f8; */
    /* border: solid 1px #f7f7f8; */
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
}

.tab-header :hover {
    background-color: #ffffff;
}

.inactive {
    border-radius: 10px;
    width: 100%;
    background: #f7f7f8;
    height: 50px;
    display: grid;
    float: left;
    color: #555;
    border: solid 1px #f7f7f8;

    /* flex-direction: column; */
}

.active {
    border-radius: 10px;
    width: 100%;
    background: #ffffff;
    height: 50px;
    display: grid;
    float: left;
    color: #555;
    /* flex-direction: column; */
}

.inputField {
    /* width: 100%; */
    height: 50px;
    padding: 5px;
    display: table;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.OauthsignBtnwrap {
    height: 80px;
    padding: 5px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    display: table;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* input::placeholder {
    font-size: small;
} */

.SigninBtnwrap {
    width: 85%;
    padding: 20px;
    text-align: center;
}

.SigninBtn {
    width: 100%;
    height: 50px;
    color: #a1a8ae;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

/* .OauthsignBtn {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    color: #a1a8ae;
    vertical-align: middle;
    background-color: #9725a9;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
} */

.what:hover {
    background-color: #e0e0e0;
    border-radius: 2.5px;
}

.SigninBtn:hover {
    color: #ffffff;
    background-color: #9725a9;
    border: 1px solid #9725a9;
    transition-duration: 0.5s;
    box-shadow: 0 2px 5px 0 rgb(96 96 96 / 16%),
        2px 10px 23px 0 rgb(96 96 96 / 13%);
}

.Signininput {
    width: 380px;
    height: 60%;
    padding: 3px;
    text-align: left;
    border-radius: 5px;
    background-color: #f7e7e8;
    border: 5px solid #f7e7e8;
}

.OauthsignBtn:hover {
    background-color: #f7f7f8;
    transition-duration: 0.5s;
}

.google {
    width: 20px;
    padding-right: 5px;
}

/* input[type="text"]  */
/* input[type="email"],
input[type="password"] {
    text-align: left;
    border-radius: 5px;
    background-color: #f7e7e8;
    border: 5px solid #f7e7e8;
} */

/* .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    width: 90%;
    margin-top: 6px;
} */
